<div class="cover-container">
    <div class="inner cover">
        <div class="container-error">
            <form enctype="multipart/form-data" method="post" action="/admin/images/import/">
                <input type="file" name="data" style="margin: 30px auto auto auto"/>
                <input type="submit" class="btn btn-primary" style="right: 20px; bottom: 20px; position: absolute"/>
            </form>
            <br/><br/>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>