<div class="cover-container">
    <div class="inner cover">
        <div class="container-error">
	    Thank you for submitting your data - {{records-no}} record{{#compare records-no 1 operator="!="}}s have{{else}} has{{/compare}} been uploaded
        <br/><br/>
        <a href="/admin/images/">Go Back</a>
        </div>
	</div>
</div>