<div class="cover-container">
    <div class="inner cover">
        <div class="container-error">
            <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);">404</div>
        </div>
    </div>
</div>